
<ul class="sidebar-nav">
  <li class="logo"><a href="http://www.homegefest.ru">{{"Home" + " Gefest"}}</a></li>
  <li class="sidebar-brand">Профиль</li>
  <li ui-sref-active='active'><a ui-sref='user_profile'>- просмотр</a></li>
  <li ui-sref-active='active'><a ui-sref='user_update_profile'>- редактировать</a></li>
  <li class="sidebar-brand">Дома</li>
  <li ui-sref-active='active'><a ui-sref='user_houses'>- список</a></li>
  <li class="sidebar-brand">События</li>
  <li ui-sref-active='active'><a ui-sref='user_events'>- текущие</a></li>
  <li ui-sref-active='active'><a ui-sref='create_event'>- создать</a></li>
  <li ui-sref-active='active'><a ui-sref='user_archive'>- архив</a></li>
</ul>