<div class="container">
  <h3>Редактирование профиля организации</h3><br/>
  <form ng-submit="updateProfile()">
    <div class="row profile_form">
      <div class="col-md-3">
        <h5 class="pull-right">Название организации:</h5>
      </div>
      <div class="col-md-7">  
        <input class="form-control" ng-model="profile.name" placeholder="Название организации"/>
      </div>
    </div>
    <div class="row profile_form">
      <div class="col-md-3">
        <h5 class="pull-right">Описание деятельности:</h5>
      </div>
      <div class="col-md-7">  
        <textarea rows="5" class="form-control" ng-model="profile.discription"></textarea>
      </div>
    </div>
    <div class="row profile_form">
      <div class="col-md-3">
        <h5 class="pull-right">Телефон:</h5>
      </div>
      <div class="col-md-7">  
        <input class="form-control" ng-model="profile.phone"/>
      </div>
    </div>
    <div class="row profile_form">
      <div class="col-md-3">
        <h5 class="pull-right">Веб-сайт:</h5>
      </div>
      <div class="col-md-7">  
        <input class="form-control" ng-model="profile.web"/>
      </div>
    </div>
    <div class="row profile_form">
      <div class="col-md-3">
        <h5 class="pull-right">Электронная почта:</h5>
      </div>
      <div class="col-md-7">  
        <input class="form-control" ng-model="profile.pub_email"/>
      </div>
    </div>
    <div class="row profile_form">
      <div class="col-md-10">
        <button type="submit" class="btn btn-info pull-right">Изменить</button>
      </div>
    </div>
  </form>
</div>