doctype html
html
  head
    title= "HomeGefest - электронный журнал диспетчера ЖКХ"
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
       
    link(rel='stylesheet', href='/lib/bootstrap-css/css/bootstrap.min.css')
            
  body
    .navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/user') HomeGefest

    .container
      form.form-signin.form-auth(style='width: 50%;', method='post', action='/editUserPassword')
        h2.form-signin-heading Смена пароля пользователя
        
        .error #{error}
        
        input.form-control(name='oldPass', type='password', placeholder='Введите старый пароль', required='required', autofocus='autofocus')
        br
        input.form-control(name='pass', type='password', placeholder='Новый пароль', required='required')
        br
        input.form-control(name='confirmPass', type='password', placeholder='Подтвердите пароль', required='required')
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit') изменить пароль
