<div class="row">
  <div class="col-md-4">
    <a ui-sref="houses"><button class="btn btn-info"> <<  списк домов</button></a>
  </div>
  <div class="col-md-4">
    <h3>Технический паспорт </h3>
  </div>
  <div class="col-md-4">
    <button ng-hide="isEdit" class="btn btn-info pull-right" ng-click="isEdit=true;"> редактировать</button>
    <button ng-show="isEdit" class="btn btn-success pull-right" ng-click="isEdit=false;"> сохранить</button>
  </div>
</div>
<br />
<form>
  <div class="row">
    <div class="col-md-6">
      <p> Страна: 
        <b ng-hide="isEdit"> {{house.country}} </b> 
        <input ng-show="isEdit" ng-model="house.country" placeholder="{{house.country}}">
      </p>

      <p> Почтовый индекс: 
        <b ng-hide="isEdit"> {{house.zip}} </b> 
        <input ng-show="isEdit" ng-model="house.zip" placeholder="{{house.zip}}">
      </p>

      <p> Область (республика, край): 
        <b ng-hide="isEdit"> {{house.region}} </b>
        <input ng-show="isEdit" ng-model="house.region" placeholder="{{house.region}}">
      </p>

      <p> Район: 
        <b ng-hide="isEdit"> {{house.region_district}} </b>
        <input ng-show="isEdit" ng-model="house.region_district" placeholder="{{house.region_district}}">
      </p>

      <p> Город: 
        <b ng-hide="isEdit"> {{house.city}} </b>
        <input ng-show="isEdit" ng-model="house.city" placeholder="{{house.city}}">
      </p>

      <p> Район города: 
        <b ng-hide="isEdit"> {{house.city_district}} </b>
        <input ng-show="isEdit" ng-model="house.city_district" placeholder="{{house.city_district}}">
      </p>
      
      <p> Улица: 
        <b ng-hide="isEdit"> {{house.street}} </b>
        <input ng-show="isEdit" ng-model="house.street" placeholder="{{house.street}}">
      </p>
      
      <p> Номер дома: 
        <b ng-hide="isEdit"> {{house.num_house}} </b>
        <input ng-show="isEdit" ng-model="house.num_house" placeholder="{{house.num_house}}">
      </p>
    
    </div>
    
    <div class="col-md-6">
        <p> Год постройки: 
          <b ng-hide="isEdit"> {{house.year_built}} </b> 
          <input ng-show="isEdit" ng-model="house.year_built" placeholder="{{house.year_built}}"> 
        </p>

        <p> Общая площадь: 
          <b ng-hide="isEdit"> {{house.area}} </b> 
          <input ng-show="isEdit" ng-model="house.area" placeholder="{{house.area}}">
        кв. метров</p>

        <p> Количество подъездов: 
          <b ng-hide="isEdit"> {{house.porchs}} </b> 
          <input ng-show="isEdit" ng-model="house.porchs" placeholder="{{house.porchs}}">
        </p>

        <p> Этажность: 
          <b ng-hide="isEdit"> {{house.max_floor}} </b> 
          <input ng-show="isEdit" ng-model="house.max_floor" placeholder="{{house.max_floor}}">
        </p>
    </div>
  </div>
</form>

<div>
  <h4>Компании работающие с домом:</h4>
  {{house.users}}
</div>
