<button class="btn btn-primary" type="">Создать нового пользователя</button>


<table class="table table-striped">
  <thead>
  <tr>
    <th>№</th>
    <th>Электронная почта</th>
    <th>Название</th>
    <th>Добавлен</th>
    <th>Количество домов</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="user in users | filter:search">
    <td>{{$index+1}}</td>
    <td> {{user.email}} </td>
    <td> {{user.profile.name}} </td>
    <td> {{user.created}}</td>
    <td> {{user.houses.length}}<a ui-sref="userProfile({profile: user.profile})"> изменить >> </a></td>
  </tr>
</table>