<button class="btn btn-primary" type="">Создать нового пользователя</button>


<table class="table table-striped">
  <thead>
  <tr>
    <th>№</th>
    <th>Логин(электронная почта)</th>
    <th>Название организации</th>
    <th>Добавлена</th>
    <th>Профиль организации</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="user in users | filter:search">
    <td>{{$index+1}}</td>
    <td> {{user.email}} </td>
    <td> {{user.profile.name}} </td>
    <td> {{user.created}}</td>
    <td> <a ui-sref="userProfile"> >> </a></td>
  </tr>
</table>