<a href="/createUser"><button class="btn btn-success">Создать нового пользователя</button></a>
<!-- <div class="container" style="background-color: #ddc;">
  <form class="form form-inline">
    <div class="form-group">
      <h4> Новая организация:</h4>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Электронная почта" ng-model="newLogin">
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Название" ng-model="newName">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Пароль" ng-model="newPassword">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Подтвердите пароль" ng-model="newPasswordConfirm">
    </div>
    <div class="form-group">
      <button class="btn btn-info" ng-click="createNewUser()"> Создать </button>
    </div>
  </form>
</div> -->

<hr />
<form class="form-inline">
  <div class="form-group">
    <h4> Поиск организации: </h4>
  </div>
  <div class="form-group">
    <input class="form-control" ng-model="search" placeholder="Название">
  </div>
</form>

<table class="table table-striped">
  <thead>
  <tr>
    <th>№</th>
    <th>Название организации</th>
    <th>Электронная почта (логин)</th>
    <th>Добавлена</th>
    <th>Профиль организации</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="user in users | filter:{profile.name: search}">
    <td>{{$index+1}}</td>
    <td> {{user.profile.name}} </td>
    <td> {{user.email}} </td>
    <td> {{user.created | date: 'dd.MM.yyyy'}}</td>
    <td> <a ui-sref="userProfile({id: user._id})"> >> </a></td>
  </tr>
</table>