body {
}

a {
  color: #00B7FF;
}

.form-auth {
  width: 30%;
}

.event-date {
  color: #999;
}

.event-company {
  color: #999;
}

.event-body {
  color: #555;
}

h3, h4, h5 {
  text-align: center;
}
